# IDE and editors project files
.idea
nbproject
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
.DS_Store
._.DS_Store

# composer vendor dir
/vendor
composer.phar
phpunit.phar
.phpunit.result.cache
/phpunit.xml

# Development files
.env
c3.php
.vagrant
config.yml

# Data file
resources/books.sq3
